[Unit]
Description=The assistant face auto bootup service
After=systemd-user-sessions.service

[Service]
User=(usr)
Type=simple
;ExecStartPre=/bin/sleep 2
ExecStart=/bin/bash -c 'xinit (code_dir)/threejs/run.sh -- -nocursor'
TimeoutStartSec=1s

[Install]
WantedBy=default.target
