[Unit]
Description=The assistant face recognition auto boot service
After=systemd-user-sessions.service

[Service]
User=(usr)
Type=simple
ExecStart=/bin/bash -c '(proj_dir)/shells/py_daemon_runner.sh face_recognizer/__main__.py'
TimeoutStartSec=1

[Install]
WantedBy=default.target
